Django==5.1.7
djangorestframework==3.16.1
django-cors-headers==4.6.0
python-decouple==3.8
requests==2.32.3
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.6.2
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
